package.json
tsconfig.json
/node_modules
bun.lockb

CHANGELOG.md
README.md

/public/*

# git
/.git/
*.tsbuildinfo

# misc
.DS_Store
*.pem

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local